# APP CONFIGURATION
NEXT_PUBLIC_APP_URL=http://localhost:3000

# DATABASE
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb"

# AUTHENTICATION
# Generate a secure one using: `openssl rand -base64 32`
BETTER_AUTH_SECRET="generate-a-secure-secret-and-paste-here"
BETTER_AUTH_URL=http://localhost:3000

# UPSTASH REDIS
UPSTASH_REDIS_REST_URL=your-upstash-redis-rest-url
UPSTASH_REDIS_REST_TOKEN=your-upstash-redis-rest-token